.userorderimg{
    background-image: url("C:/Users/2317389/OneDrive - Cognizant/Desktop/AgroFarm/AgroFarm-front/src/assets/orderPageimg.jpg");
    background-position: center;
    background-size: cover;
    padding: 100px 0;
    display:relative;

}