
<!-- <app-adminheader></app-adminheader>

<div class="background-image">
  <div class="container mt-5">
    <h2 class="text-center mb-4 text-light">Agro Farming Store</h2> -->
    <!-- Add New Search Button -->
    <!-- <mat-form-field>
      <input matInput (keyup)="applyFilter($event)" placeholder="Search">
    </mat-form-field>

    <mat-form-field class="sort-dropdown">
      <mat-select (selectionChange)="sortProduct($event.value)" placeholder="Sort">
        <mat-option value="priceLowHigh">Price: Low to High</mat-option>
        <mat-option value="priceHighLow">Price: High to Low</mat-option>
      </mat-select>
    </mat-form-field> -->
    <!-- <h2 class="text-center mb-4 text-primary" >Agro Farming Store</h2> -->
    <!-- Add New Farm Button -->
    <!-- <div class="d-flex justify-content-end mb-3">
      <button class="btn btn-success" (click)="goToAddProduct()">Add Product</button>
    </div>
    <div class="row justify-content-center">
      <div class="col-lg-4 col-md-6 col-sm-12 mb-4" *ngFor="let product of products">
        <div class="card border-0 shadow">
          <div class="card-body">
            <h5 class="card-title">{{ product.name }}</h5> -->
            <!-- <p class="card-text"><strong>Id : </strong>{{product.id}}</p> -->
            <!-- <p class="card-text">
              <strong>Description:</strong> {{ product.description }}
            </p>
            <p class="card-text"><strong>Category:</strong> {{ product.category }}</p>
            <p class="card-text"><strong>Expiry Year:</strong> {{ product.year }}</p>
            <p class="card-text"><strong>Price:</strong> {{ product.price }}</p> -->
            <!-- <p class="card-text"><strong>Image:</strong> {{ product.imgUrl }}</p> -->

            <!-- <p class="card-text">
              <strong>Stock Available:</strong> {{ product.stockAvailable }}
            </p>
            
            <div class="d-flex justify-content-between">
              <button
                class="btn btn-primary"
                style="margin-right: 5px;"
                (click)="goToUpdate(product.id)"
              >
                Update Product
              </button>
              <button
                class="btn btn-danger"
                style="margin-left: 5px;" 
                (click)="deleteProduct(product.id)"
              >
                Delete Product
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->
<app-adminheader></app-adminheader>

<div class="admin-product-image">
  <div class="container mt-5">
    <!-- <h1 class="text-center mb-4 text-custom">Agro Farming Store</h1> -->
<div class="search-bar-design">
    <mat-form-field class="light-grey-search-bar " style="width: 900px; height:80px; padding-left: 20px; color:rgb(220, 220, 220)">
      <input matInput (keyup)="applyFilter($event)" placeholder="Search">
    </mat-form-field>
  </div>
<div class="sort-bar-design">
    <mat-form-field class="sort-dropdown light-grey-search-bar" style="width: 130px; height: 74px;">
      <mat-select (selectionChange)="sortProduct($event.value)" placeholder="Sort">
        <mat-option value="priceLowHigh">Price: Low to High</mat-option>
        <mat-option value="priceHighLow">Price: High to Low</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
    <div class="d-flex justify-content-end mb-3">
      <button class="btn btn-success" (click)="goToAddProduct()" style="margin-top: 10%;">Add New Product</button>
    </div>
    <div class="row justify-content-center">
      <div class="col-lg-4 col-md-6 col-sm-12 mb-4" *ngFor="let product of filteredProducts">
        <div class="card border-0 shadow">
          <div class="card-body">
            <h5 class="card-title">{{ product.name }}</h5>
            <!-- <p class="card-text"><strong>Id : </strong>{{product.id}}</p> -->
            <p class="card-text">
              <strong>Description:</strong> {{ product.description }}
            </p>
            <p class="card-text"><strong>Category:</strong> {{ product.category }}</p>
            <p class="card-text"><strong>Expiry Year:</strong> {{ product.year }}</p>
            <p class="card-text"><strong>Price/kg:</strong> {{ product.price }}</p>
            <p class="card-text"><strong>Image:</strong> {{ product.imgUrl }}</p>

            <p class="card-text">
              <strong>Stock Available:</strong> {{ product.stockAvailable }}
            </p>
            
            <div class="d-flex justify-content-between">
              <button
                class="btn btn-primary"
                style="margin-right: 5px;"
                (click)="goToUpdate(product.id)"
              >
                Update Product
              </button>
              <button
                class="btn btn-danger"
                style="margin-left: 5px;" 
                (click)="deleteProduct(product.id)"
              >
                Delete Product
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
